/* #AC8OAO
#89AAE6
#3685B5
#0471A6
061826 */

.header {
    background-color: #061826 ;
    text-align: center;
    border-radius: 20px;
    
}
#headerTitle {
    color:aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    padding:15px;
    font-size: larger;
}

#tags{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
#tags h3{
    color:burlywood;
    margin:20px;
    font-size: 20px;
}
#tags button {
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid black;
    margin:10px;
    background-color: #0471A6;
    opacity: 0.6;
}

#tags button:hover{
    transform: scale(1.1);
    opacity: 1;
}

.content {
    background-color: #89AAE6;
    padding:25px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap:20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin:10px;
    padding: 10px;
    border-radius: 20px;
}
.card .middleSection {
    display: flex;
    flex-direction: column;
    background-color: #0471A6;
    width: 80%;
    padding-left: 20px;
}
.card .bottomSection button{
    margin:2px;
    border-radius: 6px;
    border: 2px solid black;
}
.card .bottomSection button:hover {
    transform: scale(1.1);
    background-color: yellow;
}

.orderSection {
    background-color: #061826 ;
    padding:25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.orderItem {
    border: 2px white solid;
    margin: 15px;
    padding:10px;
    display: flex;
    border-radius: 20px;
    background-color: #3685B5;
    justify-content: center;
}
.orderItem span {
    color: black;
    font-size: 20px;
    margin:20px
}
.orderItem button {
    margin: 5px;
    border: 3px white solid;
    border-radius: 40px;
}

.orderItem button:hover {
    transform: scale(1.1);
    background-color: yellow;
}
.orderedFoodName {
    background-color: teal;
    padding: 10px;
}